<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <link rel="stylesheet" href="/static/styles.css">
    <title>Submit Your Info</title>
</head>
<body>
    <h2>Add a New Book</h2>
    <form method="POST" action="/add_book">
        <label for="book_title">Book Title:</label><br>
        <input type="text" id="book_title" name="book_title" required><br><br>

        <label for="book_isbn">Book ISBN:</label><br>
        <input type="text" id="book_isbn" name="book_isbn" required><br><br>

        <label for="author_id">Author:</label><br>
        <select name="author_id" id="author_id" required>
            <option value="" disabled selected>Select an Author</option>
            {% for author in authors %}
                <option value="{{ author.author_id }}">{{ author.author_name }}</option>
            {% endfor %}
        </select><br><br>

        <label for="book_publication_year">Publication Year:</label><br>
        <input type="number" id="book_publication_year" name="book_publication_year" required><br><br>
        <button type="submit">Add Book</button>
    </form>
    <br>
    <a href="{{ url_for('home_page') }}">Back to Book List</a>
</body>
</html>
