<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/static/styles.css">
    <title>Book Library</title>
</head>
<body>
<!-- Flash messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

<nav>
    <a href="{{ url_for('home_page', sort_by='title') }}"
       class="{% if sort_by == 'title' %}{% endif %}">
        Sort by Title
    </a> |
    <a href="{{ url_for('home_page', sort_by='author') }}"
       class="{% if sort_by == 'author' %}{% endif %}">
        Sort by Author
    </a> |
    <a href="{{ url_for('add_author') }}">Add Author</a> |
    <a href="{{ url_for('add_book') }}">Add Book</a>
</nav>

    <h1>Books Library:</h1>
<h2>Search Books</h2>
<form action="{{ url_for('home_page') }}" method="POST">
    <div class="input-field">
        <input type="text" name="search_query" placeholder="Search by title" required>
        <button type="submit">Search</button>
         <a href="{{ url_for('home_page') }}">Back to Book List</a>
    </div>

</form>
    <ul>
         {% for detail in book_details %}
        <li>
            <h2>{{ detail.book.book_title }} ({{ detail.book.book_publication_year }})</h2>
            <p><strong>Author:</strong> {{ detail.book.author.author_name}}</p>
            <p>
    {% if detail.image_url %}
        <img src="{{ detail.image_url }}" alt="Book Cover" width="150">
    {% else %}
        No cover image available
    {% endif %}
    </p>
            <form action="{{ url_for('delete_book', book_id= detail.book.book_id) }}" method="POST">
                <div class="input-field">
                    <button type="submit">Delete Book</button>
                </div>
            </form>
        </li>
        {% endfor %}
    </ul>

</body>
</html>
